<!DOCTYPE html>
<html lang="en">
<head>
	<title>Belly Button Biodiversity - Dashboard</title>
	<meta charset="utf-8" /> 
	<meta name="robots" content="noindex, nofollow" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand bbb--title">Belly Button Biodiversity</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!--<ul class="navbar-nav mr-auto"></ul>-->
        <!--<ul class="navbar-nav">-->
        <!--    <li class="nav-item"><span class="bbb--label bbb--label-white "><i class="fas fa-vials fa-lg"></i> Select Sample</span></li>-->
        <!--</ul>-->
        <!--<form class="form-inline px-5">-->
        <!--    <select class="form-control" id="bbb--select-sample"></select>-->
        <!--</form>-->
    </div>
</nav>
	
<main class="bbb--container-fluid">
		<div class="card-group">
			<div class="card">
				<div class="card-header">
					<span class="bbb--label"><i class="fas fa-table fa-lg"></i> Sample Metadata</span>
				</div>
				<div class="card-body">
					<div class="d-flex mb-5">
						<div class="px-0 flex-fill align-self-center">
							<span class="bbb--label"><i class="fas fa-vials fa-lg"></i> Select Sample</span>
						</div>
						<div class="px-0 align-self-center">
							<div class="form-inline">
								<select class="form-control" id="bbb--select-sample"></select>
							</div>
						</div>
					</div>

					<div id="bbb--sample-metadata table-responsive" class="">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th colspan="2">Sample</th>
									<th><span id="bbb--meta-sample" class="bbb--metadata">940</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Age</th>
									<th>Ethnicity</th>
									<th>Gender</th>
								</tr>
								<tr>
									<td><span id="bbb--meta-age" class="bbb--metadata">24</span></td>
									<td><span id="bbb--meta-ethnicity" class="bbb--metadata">Caucasian</span></td>
									<td><span id="bbb--meta-gender" class="bbb--metadata">F</span></td>
								</tr>
								<tr>
									<th>BBType</th>
									<th>Location</th>
									<th>WFreq</th>
								</tr>
								<tr>
									<td><span id="bbb--meta-bbtype" class="bbb--metadata">I</span></td>
									<td><span id="bbb--meta-location" class="bbb--metadata">Beaufort/NC</span>B</td>
									<td><span id="bbb--meta-wfreq" class="bbb--metadata">2</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div id="bbb--pie-chart"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div id="bbb--gauge-chart"></div>
				</div>
			</div>
		</div>

		<div class="card-group">		
			<div class="card">
				<div class="card-body">
					<div id="bbb--bubble-chart"></div>
				</div>
			</div>
		</div>		

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>